<div class="hole" id="hole10">
        <header id="header">
            <h1 class="head_title">Hole 10</h1>
            <div class="btn-save" onClick="save()">Save</div>
        </header>
        <div class="main">
            <div class="players">
                <div class="p1-score">
                    <div class="p1-name">
                        <div name="p1-name"></div>
                    </div>
                    <div class="num-on">
                        <div name="p1-num-on">0</div>&nbsp;On
                    </div>
                    <div class="num-putt">
                        <div name="p1-num-putt">0</div>&nbsp;Putt
                    </div>
                </div>
                <div class="p1-btn">
                    <div class="type-btn">
                        <div name=p1-strk-badge class="badge badge-strk">0</div>
                        <div class="btn-title">Strk</div>
                        <div class="btn-circle" onClick="shotAdd(10,1,'stroke')">
                            <div name="p1-strk-plus" >+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,1,'stroke')">
                            <div name="p1-strk-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                        <div name=p1-putt-badge class="badge badge-putt">0</div>
                        <div class="btn-title">Putt</div>
                        <div class="btn-circle" onClick="puttAdd(10,1)">
                            <div id="p1-putt-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="puttMinus(10,1)">
                            <div id="p1-putt-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                        <div name=p1-ob-badge class="badge badge-ob">0</div>
                        <div class="btn-title">OB</div>
                        <div class="btn-circle" onClick="shotAdd(10,1,'ob')">
                            <div id="p1-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,1,'ob')">
                            <div id="p1-strk-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                        <div name=p1-hzd-badge class="badge badge-hzd">0</div>
                        <div class="btn-title">Hzd</div>
                        <div class="btn-circle" onClick="shotAdd(10,1,'hzd')">
                            <div id="p1-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,1,'hzd')">
                            <div id="p1-strk-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                        <div name=p1-pnty-badge class="badge badge-pnty">0</div>
                        <div class="btn-title">Pnty</div>
                        <div class="btn-circle" onClick="shotAdd(10,1,'pnty')">
                            <div id="p1-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,1,'pnty')">
                            <div id="p1-strk-minus">-</div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="players">
                <div class="p1-score">
                    <div class="p1-name">
                        <div name="p2-name"></div>
                    </div>
                    <div class="num-on">
                        <div name="p2-num-on">0</div>&nbsp;On
                    </div>
                    <div class="num-putt">
                        <div name="p2-num-putt">0</div>&nbsp;Putt
                    </div>
                </div>
                <div class="p1-btn">
                    <div class="type-btn">
                        <div name=p2-strk-badge class="badge badge-strk">0</div>
                        <div class="btn-title">Strk</div>
                        <div class="btn-circle" onClick="shotAdd(10,2,'stroke')">
                            <div id="p2-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,2,'stroke')">
                            <div id="p2-strk-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                        <div name=p2-putt-badge class="badge badge-putt">0</div>
                        <div class="btn-title">Putt</div>
                        <div class="btn-circle" onClick="puttAdd(10,2)">
                            <div id="p2-putt-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="puttMinus(10,2)">
                            <div id="p2-putt-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                        <div name=p2-ob-badge class="badge badge-ob">0</div>
                        <div class="btn-title">OB</div>
                        <div class="btn-circle" onClick="shotAdd(10,2,'ob')">
                            <div id="p2-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,2,'ob')">
                            <div id="p2-strk-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                        <div name=p2-hzd-badge class="badge badge-hzd">0</div>
                        <div class="btn-title">Hzd</div>
                        <div class="btn-circle" onClick="shotAdd(10,2,'hzd')">
                            <div id="p2-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,2,'hzd')">
                            <div id="p2-strk-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                        <div name=p2-pnty-badge class="badge badge-pnty">0</div>
                        <div class="btn-title">Pnty</div>
                        <div class="btn-circle" onClick="shotAdd(10,2,'pnty')">
                            <div id="p2-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,2,'pnty')">
                            <div id="p2-strk-minus">-</div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="players">
                <div class="p1-score">
                    <div class="p1-name">
                        <div name="p3-name"></div>
                    </div>
                    <div class="num-on">
                        <div name="p3-num-on">0</div>&nbsp;On
                    </div>
                    <div class="num-putt">
                        <div name="p3-num-putt">0</div>&nbsp;Putt
                    </div>
                </div>
                <div class="p1-btn">
                    <div class="type-btn">
                        <div name=p3-strk-badge class="badge badge-strk">0</div>
                        <div class="btn-title">Strk</div>
                        <div class="btn-circle" onClick="shotAdd(10,3,'stroke')">
                            <div id="p3-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,3,'stroke')">
                            <div id="p3-strk-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                            <div name=p3-putt-badge class="badge badge-putt">0</div>
                        <div class="btn-title">Putt</div>
                        <div class="btn-circle" onClick="puttAdd(10,3)">
                            <div id="p3-putt-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="puttMinus(10,3)">
                            <div id="p3-putt-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                            <div name=p3-ob-badge class="badge badge-ob">0</div>
                        <div class="btn-title">OB</div>
                        <div class="btn-circle" onClick="shotAdd(10,3,'ob')">
                            <div id="p3-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,3,'ob')">
                            <div id="p3-strk-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                            <div name=p3-hzd-badge class="badge badge-hzd">0</div>
                        <div class="btn-title">Hzd</div>
                        <div class="btn-circle" onClick="shotAdd(10,3,'hzd')">
                            <div id="p3-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,3,'hzd')">
                            <div id="p3-strk-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                            <div name=p3-pnty-badge class="badge badge-pnty">0</div>
                        <div class="btn-title">Pnty</div>
                        <div class="btn-circle" onClick="shotAdd(10,3,'pnty')">
                            <div id="p3-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotAdd(10,3,'pnty')">
                            <div id="p3-strk-minus">-</div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="players">
                <div class="p1-score">
                    <div class="p1-name">
                        <div name="p4-name"></div>
                    </div>
                    <div class="num-on">
                        <div name="p4-num-on">0</div>&nbsp;On
                    </div>
                    <div class="num-putt">
                        <div name="p4-num-putt">0</div>&nbsp;Putt
                    </div>
                </div>
                <div class="p1-btn">
                    <div class="type-btn">
                            <div name=p4-strk-badge class="badge badge-strk">0</div>
                        <div class="btn-title">Strk</div>
                        <div class="btn-circle" onClick="shotAdd(10,4,'stroke')">
                            <div id="p4-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,4,'stroke')">
                            <div id="p4-strk-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                            <div name=p4-putt-badge class="badge badge-putt">0</div>
                        <div class="btn-title">Putt</div>
                        <div class="btn-circle" onClick="puttAdd(10,4)">
                            <div id="p4-putt-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="puttMinus(10,4)">
                            <div id="p4-putt-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                            <div name=p4-ob-badge class="badge badge-ob">0</div>
                        <div class="btn-title">OB</div>
                        <div class="btn-circle" onClick="shotAdd(10,4,'ob')">
                            <div id="p4-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,4,'ob')">
                            <div id="p4-strk-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                            <div name=p4-hzd-badge class="badge badge-hzd">0</div>
                        <div class="btn-title">Hzd</div>
                        <div class="btn-circle" onClick="shotAdd(10,4,'hzd')">
                            <div id="p4-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,4,'hzd')">
                            <div id="p4-strk-minus">-</div>
                        </div>
                    </div>
                    <div class="type-btn">
                            <div name=p4-pnty-badge class="badge badge-pnty">0</div>
                        <div class="btn-title">Pnty</div>
                        <div class="btn-circle" onClick="shotAdd(10,4,'pnty')">
                            <div id="p4-strk-plus">+</div>
                        </div>
                        <div class="btn-circle" onClick="shotMinus(10,4,'pnty')">
                            <div id="p4-strk-minus">-</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>